{% extends "base.html" %}

{% block content %}
    <style>.error { color:red; display: inline-block }</style>
    <h1 align="center">Add a Blog Entry</h1>
    <form action="/blog" method='post'>
        <label for="title">Title for your new blog:</label><br>
        <input type="text" name="title" />
        <p class="error">{{title_error}}</p><br><br>
        <label for="body">Your new blog:</label><br>
        <textarea type="text" name="body"> </textarea>
        <p class="error">{{body_error}}</p><br>
        <input type="submit" value="Add Entry"/>
    </form>
{% endblock %}